.footer {
  background-color: #003366;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  margin-top: auto;
  p {
    color: white;
    margin: 0px;
  }
  .socialIcons {
    display: flex;
    gap: 20px;
    .icon {
      font-size: 25px;
      color: white;
      cursor: pointer;
      &:hover {
        color: #24ff24;
      }
    }
  }
}
@media screen and (max-width: 500px) {
  .footer {
    flex-direction: column;
    padding: 10px 10px;
    p {
      margin: 0px;
      margin-bottom: 10px;
    }
  }
}
