.leftNav {
  //   padding: 10px;
  background-color: #003366;
  display: flex;
  flex-direction: column;
  //   gap: 50px;
  position: absolute;
  top: 66px;
  bottom: 45px;
  height: auto;
  left: 0px;
  a {
    font-size: 20px;
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    background-color: #003366;
    &:hover {
      background-color: tomato;
    }
  }
}
@media screen and (max-width: 500px) {
  .leftNav {
    display: none;
  }
}
